<div class="row search-item" *ngFor="let item of searchResult">
    <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
            <img src="{{item.image}}" alt="">
        </a>
    </div>
    <div class="col-sm-8 details">
        <h6><a routerLink="/details/{{item.id}}">{{item.name}}</a></h6>
        <p><b>Price: ₹{{item.price | number: '2.'}}</b></p>
        <p><span>color: {{item.color}}</span><span>Category: {{item.category}}</span></p>
        <p>{{item.description}}</p>
    </div>
</div>
<div  *ngIf="!searchResult.length" class="no-data-found">
    <p>No Data Found</p>
</div>