<nav class="nav" *ngIf="isHeader">
  <h1><a routerLink="/">E-COMM</a></h1>
  <div *ngIf="menuType !== 'seller'" class="nav-search">
    <input
      type="text"
      [formControl]="searchInput"
      placeholder="Search for Products"
      (blur)="hideSearch()"
    />
    <!-- <button (click)="submitSearch()" >Search</button> -->
    <div (click)="submitSearch()" class="search-btn pointer">
      <mat-icon>search</mat-icon>
    </div>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetail(item.id)" href="">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/user-auth">Login / Sign-up</a></li>
      <li>
        <a href="#"
          ><mat-icon matBadge="{{ cartItems }}" matBadgeColor="warn"
            >add_shopping_cart</mat-icon
          ></a
        >
      </li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="/">Home</a></li>
      <li>
        <a routerLink="/">{{ userName | titlecase }}</a>
      </li>
      <li><a class="pointer" routerLink="/my-orders">My Orders</a></li>
      <li><a class="pointer" (click)="userLogout()">Logout</a></li>
      <li>
        <a [routerLink]="cartItems > 0 ? 'cart-page' : null"
          ><mat-icon matBadge="{{ cartItems }}" matBadgeColor="warn"
            >add_shopping_cart</mat-icon
          ></a
        >
      </li>
    </ul>
    <ul class="seller-account" *ngSwitchCase="'seller'">
      <li><a routerLink="/seller-home">Product List</a></li>
      <li><a routerLink="/seller-add-product">Add Product</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li>
        <a href="#">{{ sellerName | titlecase }}</a>
      </li>
    </ul>
  </div>
</nav>
