table{
    text-align: left;
    border-collapse: collapse;
    color: blueviolet;
}

table th, table td{
    padding: 10px;
    min-height: 160px;
    border: 1px solid blueviolet;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-list h1{
    font-weight: bold;
}