<div class="product-list mt-2">
    <h1>All Products List</h1>
    <p class="message-p" >{{updateProductMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}" alt=""> </td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>
                    <mat-icon style="cursor: pointer;" (click)="deleteProduct(item.id)">delete_forever</mat-icon>
                    <mat-icon routerLink="/seller-update-product/{{item.id}}" style="cursor: pointer;" >edit</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>