table{
    text-align: left;
    border-collapse: collapse;
    color: black;
}

table th, table td{
    padding: 10px;
    min-height: 160px;
    border: 1px solid black;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-list h1{
    font-weight: bold;
}