<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" name="name" ngModel type="text" placeholder="Enter your Name">
            <input class="form-input" name="password" ngModel type="password" placeholder="Enter your Password">
            <input class="form-input" name="email" ngModel type="email" placeholder="Enter your Email">
            <button class="form-btn">SignUp</button>
            <a class="auth-toggle-link" (click)="toggleLoginSignUp()">Already Have Account? Click to Login</a>
        </form>
    </div>

    <!-- login page -->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p *ngIf="authError" class="error">{{authError}}</p>
        <form #sellerLogIn="ngForm" (ngSubmit)="logIn(sellerLogIn.value)" class="common-form">
            <input class="form-input" name="email" ngModel type="email" placeholder="Enter your Email">
            <input class="form-input" name="password" ngModel type="password" placeholder="Enter your Password">
            <button class="form-btn">Login</button>
            <a class="auth-toggle-link" (click)="toggleLoginSignUp()">Don't Have Account? Click to SignUp</a>
        </form>
    </div>
</div>
