label {
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #0066c0;
}

.seller-auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seller-auth > h1 {
  font-weight: 500;
  background: #febd69;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  color: #0f1111;
  font-family: ui-rounded;
}

.sign-up,
.login {
  padding: 2rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.sign-up h1,
.login h1 {
  color: #0f1111;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  text-align: left;
}

.auth-toggle-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
  margin-left: 4px;
}

.common-form p {
  margin-top: 0.3rem;
}
