<div class="user-auth">
  <p class="error" *ngIf="authError">{{ authError }}</p>
  <h1 routerLink="/" class="pointer">E-COMM</h1>
  <div *ngIf="!showLogin" class="user-signup">
    <h1>User Sign-up</h1>
    <form
      class="common-form"
      #userSignUp="ngForm"
      (ngSubmit)="signUp(userSignUp.value)"
    >
      <label for="name">Your name</label>
      <input
        required
        #name="ngModel"
        class="form-input"
        id="name"
        name="name"
        ngModel
        type="text"
        placeholder="First and last name"
      />
      <p class="invalid-input">
        <span *ngIf="name.invalid && name.touched">Please Enter Name</span>
      </p>
      <label for="email">Your Email</label>
      <input
        required
        #email="ngModel"
        class="form-input"
        id="email"
        name="email"
        ngModel
        type="email"
        email
      />
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched"
          >Please Enter Valid Email</span
        >
      </p>
      <label for="password">Password</label>
      <input
        required
        #password="ngModel"
        class="form-input"
        id="password"
        name="password"
        ngModel
        type="password"
        placeholder="Atleast 6 characters"
        minlength="6"
        maxlength="20"
      />
      <p class="invalid-input">
        <span *ngIf="password.invalid && password.touched"
          >Please Enter Valid Password</span
        >
      </p>
      <button [disabled]="userSignUp.invalid" class="form-btn">SignUp</button>
      <p>
        Already have an account?<a
          class="pointer auth-toggle-link"
          (click)="openLogin()"
          >Sign in</a
        >
      </p>
    </form>
  </div>
  <div *ngIf="showLogin" class="user-login">
    <h1>User Login</h1>
    <form
      class="common-form user-login-form"
      #userLogin="ngForm"
      (ngSubmit)="login(userLogin.value)"
    >
      <label for="email">Your Email</label>
      <input
        required
        #email="ngModel"
        class="form-input"
        id="email"
        name="email"
        ngModel
        type="email"
        email
      />
      <span>demo_email: <span>demo_user@test.com</span></span>
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched"
          >Please Enter Valid Email</span
        >
      </p>
      <label for="password">Password</label>
      <input
        required
        #password="ngModel"
        class="form-input"
        id="password"
        name="password"
        ngModel
        type="password"
        placeholder="Atleast 6 characters"
        minlength="6"
        maxlength="20"
      />
      <span>demo_password: <span>demo123</span></span>
      <p class="invalid-input">
        <span *ngIf="password.invalid && password.touched"
          >Please Enter Valid Password</span
        >
      </p>
      <button [disabled]="userLogin.invalid" class="form-btn">Login</button>
      <p>
        Don't Have Account?<a
          class="pointer auth-toggle-link"
          (click)="openSignUp()"
          >Click to SignUp</a
        >
      </p>
    </form>
  </div>
</div>
