<div class="cloth_categories">
    <div class="collections">
        <h1>COLLECTIONS</h1>
        <div class="cloth_collections">
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/caps.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/hoodie.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/mousepad.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/mugs.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/oversizedtshirt.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/polotshirts.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/sweatshirt.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/collections/tshirt.webp" alt="">
            </div>
        </div>
    </div>
    <div class="themes">
        <h1>THEMES</h1>
        <div class="theme_collections">
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/anime.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/combooffers.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/customized.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/fitness.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/gaming.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/lifestyle.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/programming.webp" alt="">
            </div>
            <div class="collection cursor-pointer">
                <img src="assets/image/themes/trending.webp" alt="">
            </div>
        </div>
    </div>
</div>
