@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --main-color: #db2f2f;
}

body {
  color: #111;
  margin: 0;
}
* {
  font-family: "Ubuntu", sans-serif;
}

.mat-h2,
.mat-headline-6,
.mat-typography .mat-h2,
.mat-typography .mat-headline-6,
.mat-typography h2 {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 1rem;
}

.container {
  margin: 0 5%;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  /* text-align: center; */
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid #0f1111;
  border-radius: 4px;
  padding-left: 10px;
}

.form-btn {
  cursor: pointer;
  height: 35px;
  border: 1px solid #0f1111;
  background: var(--main-color);
  color: white;
  font-weight: 400;
  border-radius: 4px;
}

.error {
  color: white;
  background: red;
  padding: 11px;
  border-radius: 5px;
  margin: auto !important;
  margin-bottom: 20px !important;
  position: absolute;
  top: 1rem;
}

.message-p {
  color: green;
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.pointer {
  cursor: pointer;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
}

.invalid-input {
  color: red;
  font-size: 12px;
  margin-top: -20px !important;
  text-align: left;
}

.max-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.no-data-found {
  font-size: 2rem;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 300;
}

button:disabled {
  cursor: not-allowed;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-scroll-container {
  height: calc(100vh);
  overflow-y: auto;
  overflow-x: hidden;
}

.my-scroll-container::-webkit-scrollbar {
  width: 4px;
}

.my-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Adjust the color as needed */
}

.my-scroll-container::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Adjust the color as needed */
}

/* utility class  */
.bottom__border {
  height: 5px;
  background-color: pink;
  width: 12rem;
  margin-left: 3rem;
  border-radius: 2rem;
}
