body{
    font-family: sans-serif;
}
.container{
    margin: 0 5%;
}

.common-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    text-align: center;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    color: blueviolet;
    padding-left: 10px;
}

.form-btn{
    cursor: pointer;
    height: 35px;
    border: 1px solid blueviolet;
}