body {
  font-size: 13px;
  line-height: 19px;
  color: #111;
}

.container {
  margin: 0 5%;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  /* text-align: center; */
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid #0f1111;
  border-radius: 4px;
  padding-left: 10px;
}

.form-btn {

  cursor: pointer;
  height: 35px;
  border: 1px solid #0f1111;
  background: #febd69;
  font-weight: 400;
  border-radius: 4px;
}

.error {
  color: white;
  background: red;
  padding: 11px;
  border-radius: 5px;
  margin: auto !important;
  margin-bottom: 20px !important;
  position: absolute;
  top: 1rem;
}

.message-p {
  color: green;
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.pointer {
  cursor: pointer;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
}

.invalid-input {
  color: red;
  font-size: 12px;
  margin-top: -20px !important;
  text-align: left;
}

.max-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.no-data-found {
  font-size: 2rem;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 300;
}

button:disabled {
  cursor: not-allowed;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
