<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-sm-7 shipping-address">
            <h3>Add shipping address</h3>
            <form #orderDat="ngForm" class="common-form">
                <input 
                class="form-input" 
                type="text" 
                placeholder="Enter User Email" 
                name="email">

                <input 
                class="form-input" 
                type="text" 
                placeholder="Enter your address"
                name="address">

                <input 
                class="form-input" 
                type="text" 
                placeholder="Enter Contact Detail" 
                name="contact">

                <button class="form-btn">Order Now</button>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount : 500000</h3>
            <h4>Payment Method : <b>Pay On Delivery</b></h4>
        </div>
    </div>
</div>