ngb-carousel {
  background: #0000008c;
  width: 100%;
  margin-top: 0.5rem;
}

.popular_product_img {
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  background: #00000096;
  border-radius: 5px;
}

.popular__products h1{
  padding-left: 3rem;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color);
}

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-cart {
  margin: 0px 20px;
  width: 275px;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-item {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  margin-right: 25px;
  width: 100%;
  height: 24rem;
  
}

.product-item .product-details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product-item .name-head {
  font-size: 18px;
  font-weight: 400;
  color: #0F1111;
}

.product-list-wrapper {
  margin: 1rem 0;
}

.product-price h6{
  font-size: 24px;
  color: #0F1111;
  font-weight: 400;
}

.product-color h6{
  font-size: 16px;
  margin: 0 !important;
}

.product-color{
  padding: 5px 30px;
  border-radius: 5px;
  color: white;
}

.product-footer .view-detail{
  background: #fb641b;
  border: unset;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  width: 7.5rem;
}

.product-footer .add-to-cart{
  background: #ff9f00;
  border: unset;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  width: 7.5rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.trendyProduct-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 5px;
}
