<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let product of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{product.id}}"><img class="popular_product_img" [src]="product.image"
					alt="Random first slide" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{product.name}}</h3>
			<p>{{product.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper custom-container">
	<h1>Trendy Products</h1>
	<div class="trendyProduct-container">
		<div *ngFor="let item of trendyProduct" class="product-cart">
			<div class="product-item">
				<img routerLink="/details/{{item.id}}" class="pointer" src="{{item.image}}" alt="">
				<div class="product-details">
					<h6 class="name-head">{{item.name}}</h6>
					<div class="product-price">
						<h6>₹{{item.price | number: '2.'}}</h6>
					</div>
					<div [style]="{backgroundColor: item.color}" class="product-color">
						<h6>{{item.color | titlecase}}</h6>
					</div>
				</div>
				<div class="product-footer">
					<button class="view-detail" routerLink="/details/{{item.id}}">View Details</button>
					<button class="add-to-cart" >Add to Cart</button>
					<!-- <a routerLink="/details/{{item.id}}">View Details</a>
					<a href="">Add to Cart</a> -->
				</div>
			</div>
		</div>
	</div>
</div>