<div class="seller-auth">
  <!-- <h1 routerLink="/" class="pointer">AnimeWear</h1> -->
  <div class="logo w-full h-16 flex justify-center">
    <img
      routerLink="/"
      src="assets/image/myLogo.png"
      class="w-36 pointer h-11"
      alt=""
    />
  </div>
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Create account</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form"
    >
      <label for="name">Your name</label>
      <input
        required
        #name="ngModel"
        class="form-input"
        id="name"
        name="name"
        ngModel
        type="text"
        placeholder="First and last name"
      />
      <p class="invalid-input">
        <span *ngIf="name.invalid && name.touched">Please Enter Name</span>
      </p>
      <label for="email">Your Email</label>
      <input
        required
        #email="ngModel"
        class="form-input"
        id="email"
        name="email"
        ngModel
        type="email"
        email
      />
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched"
          >Please Enter Valid Email</span
        >
      </p>
      <label for="password">Password</label>
      <input
        required
        #password="ngModel"
        class="form-input"
        id="password"
        name="password"
        ngModel
        type="password"
        placeholder="Atleast 6 characters"
        minlength="6"
        maxlength="20"
      />
      <p class="invalid-input">
        <span *ngIf="password.invalid && password.touched"
          >Please Enter Valid Password</span
        >
      </p>
      <button [disabled]="sellerSignUp.invalid" class="form-btn">SignUp</button>
      <p>
        Already have an account?<a
          class="auth-toggle-link"
          (click)="toggleLoginSignUp()"
          >Sign in</a
        >
      </p>
    </form>
  </div>

  <!-- login page -->
  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p *ngIf="authError" class="error">{{ authError }}</p>
    <form
      #sellerLogIn="ngForm"
      (ngSubmit)="logIn(sellerLogIn.value)"
      class="common-form seller-login-form"
    >
      <label for="email">Your Email</label>
      <input
        required
        #email="ngModel"
        class="form-input"
        id="email"
        name="email"
        ngModel
        type="email"
        email
      />
      <span>demo_email: <span>demo_seller@test.com</span></span>
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched"
          >Please Enter Valid Email</span
        >
      </p>
      <label for="password">Password</label>
      <input
        required
        #password="ngModel"
        class="form-input"
        id="password"
        name="password"
        ngModel
        type="password"
        placeholder="Atleast 6 characters"
        minlength="6"
        maxlength="20"
      />
      <span>demo_password: <span>demo123</span></span>
      <p class="invalid-input">
        <span *ngIf="password.invalid && password.touched"
          >Please Enter Valid Password</span
        >
      </p>
      <button [disabled]="sellerLogIn.invalid" class="form-btn">Login</button>
      <p>
        Don't Have Account?<a
          class="auth-toggle-link"
          (click)="toggleLoginSignUp()"
          >Click to SignUp</a
        >
      </p>
    </form>
  </div>
</div>
